/* Global Stylings */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
	color: #2A364C; 
}

h2{
	font-size: 45px;
	font-weight: 600;
}

h3{
	font-size: 23px;
	font-weight: strong;
}

h4{
	font-size: 16px;
}

/* Header Styling */

header {
    height: 64px;
    max-width: 100%;
    background-color: hsl(71, 0%, 98%);
    display: flex;
    justify-content: space-between;
    background-color: #dbc9ec;
    text-decoration: none;
}

header p {
    font-size: 32px;
}

.main-headerleft {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 24px;
}

.main-headerright {
    display: inline-flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

.spacing {
    padding: 0px 0px 0px 16px;
}

header ul{
    list-style: none;
    display: flex;
    font-family: 'raleway',sans-serif;
    font-size: 20px;
    align-items: center;
    margin-right: 20px;
}

header ul li{
    text-decoration: none;
}

.mobileNav {
    display: none;
}

/* Header For mobile */

@media screen and (min-width:320px) and (max-width:800px) { 

    .mobileNav {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
        width: 100%;
        height: 64px;
    }

    .main-headerleft,
    .main-headerright, header ul {
        display: none;
    }

    .mobileNav li:hover{
        transform: scale(1.15);
    }
}


/* First Hero on Website */

.hero{
	background-color: #E8E1EF;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	color: black;
}

.imagesize{
    box-sizing: border-box;
	width: 50%;
	padding: 30px;
	vertical-align: middle;
}

.hero-text{
	box-sizing: border-box;
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	font-family: 'raleway',sans-serif;
	font-weight: 400;
    text-align: center;
    padding-left: 70px;
}

.type1 {
    font-family:'Libre Baskerville','times new roman', serif;
    font-size: 55px;
    margin: 0;
    text-align: center;
}

button{
	width: 100%;
	padding: 16px;
	color: white;
	background: #5fe668;
	border:none;
	border-radius: 5px;
	margin: 10px auto;
	font-family: 'raleway' sans-serif;
	font-size: 22px;
}

button :hover {
    width: 100%;
    padding: 16px;
	color: white;
	background: #5fe668;
	border:none;
	border-radius: 5px;
	margin: 10px auto;
    background-color: #afd5fc;;
    transition: all 750ms ease-in 200ms;
}

/* First Hero Mobile */

@media screen and (min-width:320px) and (max-width:800px) {
    
    .hero {
        width: 100%;
    }

    .hero-text{
        display: inline-block;
        width: 95%;
        justify-content: center;
        padding-left: 30px;
    }

    .imagesize{
        display: flex;
        width: 100%;
        padding: 10px;
        vertical-align: middle;
    }
}

/* Second Hero on website  */

.left{
	float: left;
	width: 60%;
	padding: 46px 24px 32px;
    font-family: 'raleway',sans-serif;
    font-size: 20px;
}

.left h2{
    margin-top: 10px;
}

.left br {
    margin-top: 5px;
}

.left p{
    margin-top: 10px;
}

.right{
	border-left: 1px solid lightgray;
	display: inline-block;
	width: 40%;
	padding-top: 30px;
}
.subhero img{
	width: 100%;
}
.row{
	padding: 16px;
}
.row:hover{
	background-color: #afd5fc;
    transition: all 700ms linear 200ms;
}
.row .text{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 50%;
    font-family: 'raleway',sans-serif;
    font-size: 20px;
}
.row img{
	box-sizing: border-box;
	width: 35%;
	vertical-align: middle;
	height: auto;
}
.mobile-img{
	display: none;
}

@media screen and (min-width:320px) and (max-width:800px) {
    
    .left {
        width: 100%;
    }

    .right{
        width: 100%;
        text-align: center;
    }

    .imagesize{
        display: flex;
        width: 100%;
        padding: 10px;
        vertical-align: middle;
    }
}

/* Third Hero on Website */

.start-learning{
	background-color: #E1EDF9;
	width: 100%;
	box-sizing: border-box;
    font-family: 'raleway',sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card{
	display: inline-block;
	width: 25%;
	background: white;
	margin: 30px;
	height: 335px;
	vertical-align: middle;
} 

.card:hover{
	transform: scale(1.05);
}

.card img{
	width: 100%;
}

 .card .text{
	padding: 0 24px 24px;
} 

.text {
    text-align: left;
    margin-top: 10px;
}

/* Third Hero Mobile */

@media screen and (min-width:320px) and (max-width:800px) {
    
    .card {
        width: 100%;
        height: 360px;
        padding-bottom: 10px;
    }

    .start-learning {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .text{
        width: 100%;
        vertical-align: middle;
        padding-bottom: 50px;
    }
    .course card p{
        padding-bottom: 50px;
    }
}

/* footer styling */

footer{
	width: 100%;
	box-sizing: border-box;
	height: 96px;
	padding: 12px 24px 36px;
	background-color: #dbc9ec;
	color: #FFFEF2;
}

footer .footerstyling{
	color: black;
    list-style: none;
    display: inline-flex;
    font-family: 'raleway',sans-serif;
    font-size: 20px;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    padding: 5px;
    margin-right: 10px;
}

footer ul li {
    margin-right: 15px;
    text-justify: right;
}
